.navbar {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #f12711;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  